body {
  margin: 0 auto;
  max-width: 1500px;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h2 {
  text-align: center;
  padding: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

nav {
  display: none;
}

nav a {
  font-weight: 800;
}

/**************** button  *****************/

.white-button {
  display: block;
  border-radius: 25px;
  padding: 0.5rem 0.5rem;
  border: #808080 2px solid;
  font-weight: 600;
  font-size: 18px;
}

.color-button {
  width: 30%;
  display: block;
  text-align: center;
  border-radius: 25px;
  padding: 1rem 2rem;
  color: #ffffff;
  font-weight: 600;
}

/**************** Utility  *****************/

.content {
  padding: 1rem;
}

.bg-color {
  background: #ffc814;
}

.heading-background {
  background: rgba(255, 200, 20, 0.88);
}

.align-center {
  text-align: center;
}

.mb-extrasm {
  margin-bottom: 1rem;
}

.mb-small {
  margin-bottom: 2rem;
}

.mb-big {
  margin-bottom: 4rem;
}

.mb-extra {
  margin-bottom: 6rem !important;
}

.block-center {
  margin: 0 auto;
}

.thicker {
  font-weight: 600;
}

/**************** header  *****************/

header {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.menu-trigger {
  padding: 0 1rem;
  position: relative;
  width: 50px;
  height: 44px;
  background: none;
  border: none;
  appearance: none;
  cursor: pointer;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger span:nth-of-type(2) {
  top: 20px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

/**************** intro  *****************/

#intro {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(255, 200, 20, 0.35) 0%,
    rgba(255, 200, 20, 0) 100%
  );
}

#intro p {
  padding: 0 1rem;
}

.intro-left {
  align-self: center;
}

.intro-text {
  font-size: 20px;
  background-color: unset;
}

.main-image {
  display: none;
}

/**************** features  *****************/

#features {
  max-width: 1200px;
  margin: auto;
}

#features p {
  max-width: 800px;
  margin: auto;
}

.feature {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
}

.feature-description {
  padding: 1rem;
}

.feature p {
  font-size: 18px;
  font-weight: 600;
  width: 80%;
}

.feature img {
  width: 180px;
}

/**************** team  *****************/
#team {
  background: #ffefd9;
}

.member {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.member img {
  width: 200px;
}

.name {
  font-weight: 600;
  padding: 0 1rem;
  border-bottom: 3px solid #ffc814;
}

.fab {
  padding: 0.4rem;
  font-size: 1.8rem;
  color: #ffc814;
}

/**************** contact  *****************/

form {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.form-element {
  display: flex;
  flex-flow: column;
  gap: 0.3rem;
}

input {
  padding: 0 1rem;
  border-radius: 10px;
  height: 56px;
}

textarea {
  border: 2px solid;
  border-radius: 10px;
  padding: 1rem;
}
/**************** footer  *****************/
footer {
  background: #ffe8c8;
  padding: 1rem;
}

@media screen and (min-width: 700px) {
  body {
    background-image: url(/images/Header.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .heading-background {
    background: none;
  }

  .logo {
    width: 150px;
  }

  h2 {
    font-size: 36px;
  }

  main {
    background-image: url(/images/shape-right.png);
    background-position: 120% -20%;
    background-repeat: no-repeat;
    background-size: 20%;
  }
  /**************** header  *****************/
  header.bg-color {
    background: none;
  }
  .menu-trigger {
    display: none;
  }

  nav {
    display: block;
  }
  nav ul {
    display: flex;
    gap: 1rem;
  }

  /**************** intro  *****************/
  #intro {
    background: none;
  }
  .main-image {
    display: block;
  }

  .flex-nowrap {
    display: flex;
    flex-flow: row nowrap;
  }

  .flex-wrap {
    display: flex;
    flex-flow: row wrap;
  }

  .relatifve {
    position: relative;
  }

  /**************** team  *****************/

  #team {
    display: flex;
    flex-flow: row wrap;
  }

  #team h2 {
    flex: 100%;
  }

  .member {
    flex: 40%;
  }
}

.feature img {
  padding-top: 3rem;
}

/**************** contact  *****************/

#contact {
  background-image: url(/images/shape-left.png);
  background-position: -17% 40%;
  background-repeat: no-repeat;
  background-size: 20%;
}

form {
  margin: auto;
  max-width: 800px;
}

@media screen and (min-width: 1000px) {
  span.left-parenthesis {
    position: absolute;
    width: 12rem;
    height: 12rem;
    border-left: 7px solid rgba(255, 199, 19, 0.7);
    border-top: 7px solid rgba(255, 199, 19, 0.7);
  }

  span.left-small-parenthesis {
    top: 1rem;
    left: 1rem;
    position: absolute;
    width: 6rem;
    height: 6rem;
    border-left: 7px solid #808080;
    border-top: 7px solid #808080;
  }

  span.right-parenthesis {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 12rem;
    height: 12rem;
    border-right: 7px solid rgba(255, 199, 19, 0.7);
    border-bottom: 7px solid rgba(255, 199, 19, 0.7);
  }

  span.right-small-parenthesis {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 6rem;
    height: 6rem;
    border-right: 7px solid #808080;
    border-bottom: 7px solid #808080;
  }

  /**************** team  *****************/

  .member:nth-of-type(1),
  .member:nth-of-type(2),
  .member:nth-of-type(3) {
    flex: 32%;
  }

  .member:nth-of-type(4),
  .member:nth-of-type(5),
  .member:nth-of-type(6),
  .member:nth-of-type(7) {
    flex: 18%;
  }
}
