body {
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h2 {
  text-align: center;
  padding: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

/**************** button  *****************/

.white-button {
  display: block;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  color: #ffffff;
  border: #ffffff 2px solid;
  font-weight: 600;
}

.color-button {
  width: 30%;
  display: block;
  text-align: center;
  border-radius: 25px;
  padding: 1rem 2rem;
  color: #ffffff;
  font-weight: 600;
}

/**************** Utility  *****************/

.content {
  padding: 1rem;
}

.bg-color {
  background-color: #ffc814;
}

.heading-background {
  background: rgba(255, 200, 20, 0.88);
}

.align-center {
  text-align: center;
}

.mb-extrasm {
  margin-bottom: 1rem;
}

.mb-small {
  margin-bottom: 2rem;
}

.mb-big {
  margin-bottom: 4rem;
}

.mb-extra {
  margin-bottom: 6rem !important;
}

.block-center {
  margin: 0 auto;
}

.thicker {
  font-weight: 600;
}

/**************** header  *****************/

header {
  padding: 1rem;
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
}

.menu-trigger {
  padding: 0 2.2rem;
  position: relative;
  width: 50px;
  height: 44px;
  background: none;
  border: none;
  appearance: none;
  cursor: pointer;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger span:nth-of-type(2) {
  top: 20px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

/* .menu-trigger.active span:nth-of-type(1) {
  width: 45%;
  transform: translate3d(2px, 10px, 0) rotate(45deg);
}
.menu-trigger.active span:nth-of-type(2) {
  transform: translate3d(-1px, 0, 0) rotate(-45deg);
}
.menu-trigger.active span:nth-of-type(3) {
  width: 45%;
  transform: translate3d(23px, -9px, 0) rotate(45deg);
} */
/**************** intro  *****************/

#intro {
  display: flex;
  flex-flow: column;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(255, 200, 20, 0.35) 0%,
    rgba(255, 200, 20, 0) 100%
  );
}

#intro p {
  padding: 0 1rem;
}

.intro-text {
  font-size: 20px;
  background-color: unset;
}

/**************** features  *****************/

#features {
}

.feature {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
}

.feature p {
  font-size: 18px;
  font-weight: 600;
  width: 80%;
}

.feature img {
  width: 180px;
}

/**************** team  *****************/
#team {
  background: #ffefd9;
}

.member {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.member img {
  width: 200px;
}

.name {
  font-weight: 600;
  padding: 0 1rem;
  border-bottom: 3px solid #ffc814;
}

.fab {
  padding: 0.4rem;
  font-size: 1.8rem;
  color: #ffc814;
}

/**************** contact  *****************/

form {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.form-element {
  display: flex;
  flex-flow: column;
  gap: 0.3rem;
}

input {
  padding: 0 1rem;
  border-radius: 10px;
  height: 56px;
}

textarea {
  border: 2px solid;
  border-radius: 10px;
  padding: 1rem;
}
/**************** footer  *****************/
footer {
  background: #ffe8c8;
  padding: 1rem;
}

@media screen and (min-width: 700px) {
}
